@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
    --c-text-primary: #282a32;
    --c-text-secondary: #686b87;
    --c-text-action: #404089;
    --c-accent-primary: #434ce8;
    --c-border-primary: #eff1f6;
    --c-background-primary: #ffffff;
    --c-background-secondary: #fdfcff;
    --c-background-tertiary: #ecf3fe;
    --c-background-quaternary: #e9ecf4;
}
body {
    line-height: 1.5;
    min-height: 100vh;
    font-family: "Be Vietnam Pro", sans-serif;
    background-color: var(--c-background-secondary);
    color: var(--c-text-primary);
}
img {
    display: block;
    max-width: 100%;
}
:focus {
    outline: 0;
}
.responsive-wrapper {
    width: 90%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.header {
    display: flex;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid var(--c-border-primary);
    background-color: var(--c-background-primary);
}
.header-content {
    display: flex;
    align-items: center;
}
.header-content > a {
    display: none;
}
@media (max-width: 1200px) {
    .header-content {
        justify-content: space-between;
    }
    .header-content > a {
        display: inline-flex;
    }
}
.header-logo {
    margin-right: 2.5rem;
}
.header-logo a {
    display: flex;
    align-items: center;
}
.header-logo a div {
    flex-shrink: 0;
    position: relative;
}
.header-logo a div:after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: auto;
    right: 0;
    bottom: 0;
    overflow: hidden;
    height: 50%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
}
.header-navigation {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 1200px) {
    .header-navigation {
        display: none;
    }
}
.header-navigation-links {
    display: flex;
    align-items: center;
}
.header-navigation-links a {
    text-decoration: none;
    color: var(--c-text-action);
    font-weight: 500;
    transition: 0.15s ease;
}
.header-navigation-links a + * {
    margin-left: 1.5rem;
}
.header-navigation-links a:hover, .header-navigation-links a:focus {
    color: var(--c-accent-primary);
}
.header-navigation-actions {
    display: flex;
    align-items: center;
}
.header-navigation-actions > .avatar {
    margin-left: 0.75rem;
}
.header-navigation-actions > .icon-button + .icon-button {
    margin-left: 0.25rem;
}
.header-navigation-actions > .button + .icon-button {
    margin-left: 1rem;
}
.button {
    font: inherit;
    color: inherit;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 1em;
    height: 40px;
    border-radius: 8px;
    line-height: 1;
    border: 2px solid var(--c-border-primary);
    color: var(--c-text-action);
    font-size: 0.875rem;
    transition: 0.15s ease;
    background-color: var(--c-background-primary);
}
.button i {
    margin-right: 0.5rem;
    font-size: 1.25em;
}
.button span {
    font-weight: 500;
}
.button:hover, .button:focus {
    border-color: var(--c-accent-primary);
    color: var(--c-accent-primary);
}
.icon-button {
    font: inherit;
    color: inherit;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    color: var(--c-text-action);
    transition: 0.15s ease;
}
.icon-button i {
    font-size: 1.25em;
}
.icon-button:focus, .icon-button:hover {
    background-color: var(--c-background-tertiary);
    color: var(--c-accent-primary);
}
.avatar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
}
.main {
    padding-top: 3rem;
}
.main-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.main-header h1 {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.25;
}
@media (max-width: 550px) {
    .main-header h1 {
        margin-bottom: 1rem;
    }
}
.search {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 340px;
}
.search input {
    font: inherit;
    color: inherit;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 1em 0 36px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid var(--c-border-primary);
    color: var(--c-text-action);
    font-size: 0.875rem;
    transition: 0.15s ease;
    width: 100%;
    line-height: 1;
}
.search input::placeholder {
    color: var(--c-text-action);
}
.search input:focus, .search input:hover {
    border-color: var(--c-accent-primary);
}
.search button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: transparent;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.25em;
    color: var(--c-text-action);
    padding: 0;
    height: 40px;
}
.horizontal-tabs {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    overflow-x: auto;
}
@media (max-width: 1000px) {
    .horizontal-tabs {
        scrollbar-width: none;
        position: relative;
    }
    .horizontal-tabs::-webkit-scrollbar {
        display: none;
    }
}
.horizontal-tabs a {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    height: 48px;
    padding: 0 0.25rem;
    font-weight: 500;
    color: inherit;
    border-bottom: 3px solid transparent;
    text-decoration: none;
    transition: 0.15s ease;
}
.horizontal-tabs a:hover, .horizontal-tabs a:focus, .horizontal-tabs a.active {
    color: var(--c-accent-primary);
    border-bottom-color: var(--c-accent-primary);
}
.horizontal-tabs a + * {
    margin-left: 1rem;
}
.content-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 3rem;
    margin-top: -1px;
    border-top: 1px solid var(--c-border-primary);
}
.content-header-intro h2 {
    font-size: 1.25rem;
    font-weight: 600;
}
.content-header-intro p {
    color: var(--c-text-secondary);
    margin-top: 0.25rem;
    font-size: 0.875rem;
    margin-bottom: 1rem;
}
@media (min-width: 800px) {
    .content-header-actions a:first-child {
        display: none;
    }
}
.content {
    border-top: 1px solid var(--c-border-primary);
    margin-top: 2rem;
    display: flex;
    align-items: flex-start;
}
.content-panel {
    display: none;
    max-width: 280px;
    width: 25%;
    padding: 2rem 1rem 2rem 0;
    margin-right: 3rem;
}
@media (min-width: 800px) {
    .content-panel {
        display: block;
    }
}
.vertical-tabs {
    display: flex;
    flex-direction: column;
}
.vertical-tabs a {
    display: flex;
    align-items: center;
    padding: 0.75em 1em;
    background-color: transparent;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    color: var(--c-text-action);
    transition: 0.15s ease;
}
.vertical-tabs a:hover, .vertical-tabs a:focus, .vertical-tabs a.active {
    background-color: var(--c-background-tertiary);
    color: var(--c-accent-primary);
}
.vertical-tabs a + * {
    margin-top: 0.25rem;
}
.content-main {
    padding-top: 2rem;
    padding-bottom: 6rem;
    flex-grow: 1;
}
.card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 1.5rem;
    row-gap: 1.5rem;
}
@media (min-width: 600px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1200px) {
    .card-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
.card {
    background-color: var(--c-background-primary);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05), 0 5px 15px 0 rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.card-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.5rem 1.25rem 1rem 1.25rem;
}
.card-header div {
    display: flex;
    align-items: center;
}
.card-header div span {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.card-header div span img {
    max-height: 100%;
}
.card-header div h3 {
    margin-left: 0.75rem;
    font-weight: 500;
}
.toggle span {
    display: block;
    width: 40px;
    height: 24px;
    border-radius: 99em;
    background-color: var(--c-background-quaternary);
    box-shadow: inset 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
    position: relative;
    transition: 0.15s ease;
}
.toggle span:before {
    content: "";
    display: block;
    position: absolute;
    left: 3px;
    top: 3px;
    height: 18px;
    width: 18px;
    background-color: var(--c-background-primary);
    border-radius: 50%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    transition: 0.15s ease;
}
.toggle input {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.toggle input:checked + span {
    background-color: var(--c-accent-primary);
}
.toggle input:checked + span:before {
    transform: translateX(calc(100% - 2px));
}
.toggle input:focus + span {
    box-shadow: 0 0 0 4px var(--c-background-tertiary);
}
.card-body {
    padding: 1rem 1.25rem;
    font-size: 0.875rem;
}
.card-footer {
    margin-top: auto;
    padding: 1rem 1.25rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid var(--c-border-primary);
}
.card-footer a {
    color: var(--c-text-action);
    text-decoration: none;
    font-weight: 500;
    font-size: 0.875rem;
}
html::-webkit-scrollbar {
    width: 12px;
}
html::-webkit-scrollbar-thumb {
    background-color: var(--c-text-primary);
    border: 4px solid var(--c-background-primary);
    border-radius: 99em;
}

/*--------------------------
    1. PROFILE HEADER
--------------------------*/
.profile-header {
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
}

.profile-header.v2 .profile-header-info {
    height: 112px;
}

.profile-header.v2 .profile-header-info .user-short-description {
    min-height: 164px;
    padding: 84px 0 0 164px;
    position: absolute;
    left: 32px;
    bottom: 0;
}

.profile-header.v2 .profile-header-info .user-short-description .user-short-description-avatar {
    top: 0;
    left: 0;
    margin-left: 0;
}

.profile-header.v2 .profile-header-info .user-short-description .user-short-description-avatar.user-short-description-avatar-mobile {
    top: -54px;
    margin-left: -60px;
}

.profile-header.v2 .profile-header-info .user-short-description .user-short-description-title,
.profile-header.v2 .profile-header-info .user-short-description .user-short-description-text {
    text-align: left;
}

.profile-header.v2 .profile-header-info .user-stats {
    left: auto;
    top: 38px;
    right: 164px;
}

.profile-header.v2 .profile-header-info .tag-sticker {
    position: absolute;
    top: -12px;
    right: 28px;
    display: none;
}

.profile-header.v2 .profile-header-info .profile-header-info-actions {
    top: 32px;
}

.profile-header.v2 .profile-header-info .profile-header-info-actions .profile-header-info-action.button {
    width: 58px;
}

.profile-header .profile-header-cover {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 300px;
}

.profile-header .profile-header-info {
    height: 126px;
    position: relative;
}

.profile-header .profile-header-info .user-short-description .user-short-description-avatar-mobile {
    display: none;
    top: -54px;
    margin-left: -60px;
}

.profile-header .profile-header-info .profile-header-social-links-wrap {
    width: 352px;
    height: 44px;
    margin: 0 auto;
    position: absolute;
    top: 54px;
    right: 32px;
}

.profile-header .profile-header-info .profile-header-social-links-wrap .profile-header-social-links {
    padding-top: 4px;
    position: relative;
    z-index: 2;
}

.profile-header .profile-header-info .profile-header-social-links-wrap .slider-controls {
    width: 234px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 10px;
    left: -40px;
    z-index: 1;
}

.profile-header .profile-header-info .user-stats {
    position: absolute;
    top: 54px;
    left: 40px;
}

.profile-header .profile-header-info .profile-header-info-actions {
    display: flex;
    justify-content: center;
    position: absolute;
    top: -40px;
    right: 32px;
}

.profile-header .profile-header-info .profile-header-info-actions .profile-header-info-action {
    margin-right: 16px;
}

.profile-header .profile-header-info .profile-header-info-actions .profile-header-info-action.button {
    width: 180px;
}

.profile-header .profile-header-info .profile-header-info-actions .profile-header-info-action:last-child {
    margin-right: 0;
}

/*--------------------
    MEDIA QUERIES
--------------------*/
@media screen and (max-width: 1365px) {
    .profile-header .profile-header-cover {
        height: 200px;
    }
    .profile-header.v2 .profile-header-info {
        height: auto;
    }
    .profile-header.v2 .profile-header-info .user-short-description {
        min-height: auto;
        padding: 52px 0 0;
        position: static;
    }
    .profile-header.v2 .profile-header-info .user-short-description .user-short-description-avatar {
        top: -116px;
        left: 50%;
        margin-left: -74px;
    }
    .profile-header.v2 .profile-header-info .user-short-description .user-short-description-title,
    .profile-header.v2 .profile-header-info .user-short-description .user-short-description-text {
        text-align: center;
    }
    .profile-header .profile-header-info {
        height: auto;
        padding-bottom: 32px;
    }
    .profile-header .profile-header-info .profile-header-social-links-wrap,
    .profile-header .profile-header-info .user-stats,
    .profile-header .profile-header-info .profile-header-info-actions {
        position: static;
    }
    .profile-header .profile-header-info .profile-header-social-links-wrap {
        margin-top: 32px;
    }
    .profile-header .profile-header-info .user-stats,
    .profile-header .profile-header-info .profile-header-info-actions {
        margin-top: 40px;
    }
}

@media screen and (max-width: 480px) {
    .profile-header .profile-header-cover {
        height: 76px;
    }
    .profile-header.v2 .profile-header-info .user-short-description {
        padding-top: 84px;
    }
    .profile-header.v2 .profile-header-info .user-stats .user-stat:first-child {
        display: none;
    }
    .profile-header.v2 .profile-header-info .user-stats .user-stat:nth-last-child(2)::after {
        display: block;
    }
    .profile-header.v2 .profile-header-info .user-stats .user-stat:last-child {
        display: block;
    }
    .profile-header.v2 .profile-header-info .tag-sticker {
        display: flex;
    }
    .profile-header .profile-header-info .user-short-description {
        padding-top: 84px;
    }
    .profile-header .profile-header-info .user-short-description .user-short-description-avatar {
        display: none;
    }
    .profile-header .profile-header-info .user-short-description .user-short-description-avatar-mobile {
        display: block;
    }
    .profile-header .profile-header-info .user-short-description .user-short-description-title {
        font-size: 1.125rem;
    }
    .profile-header .profile-header-info .user-short-description .user-short-description-text {
        font-size: 0.6875rem;
    }
    .profile-header .profile-header-info .profile-header-social-links-wrap {
        width: 160px;
        height: 36px;
        position: relative;
        top: auto;
        right: auto;
    }
    .profile-header .profile-header-info .profile-header-social-links-wrap .social-link {
        width: 32px;
        height: 32px;
    }
    .profile-header .profile-header-info .user-stats .user-stat:nth-last-child(2)::after {
        display: none;
    }
    .profile-header .profile-header-info .user-stats .user-stat:last-child {
        display: none;
    }
    .profile-header .profile-header-info .user-stats .user-stat .user-stat-title {
        font-size: 0.875rem;
    }
    .profile-header .profile-header-info .user-stats .user-stat .user-stat-text {
        font-size: 0.6875rem;
    }
    .profile-header .profile-header-info .profile-header-info-actions .profile-header-info-action.button {
        width: 114px;
    }
}

/*--------------------------------
    18. USER SHORT DESCRIPTION
--------------------------------*/
.user-short-description {
    padding-top: 84px;
    position: relative;
}

.user-short-description.big {
    padding-top: 52px;
}

.user-short-description.big .user-short-description-avatar {
    top: -116px;
    margin-left: -74px;
}

.user-short-description.big .user-short-description-title {
    font-size: 1.5rem;
}

.user-short-description.big .user-short-description-text {
    font-size: 0.75rem;
}

.user-short-description.small {
    padding-top: 62px;
}

.user-short-description.small .user-short-description-avatar {
    margin-left: -50px;
}

.user-short-description.landscape {
    padding: 0 0 0 32px;
}

.user-short-description.landscape .user-short-description-avatar {
    top: 0;
    margin-left: 0;
}

.user-short-description.landscape .user-short-description-title,
.user-short-description.landscape .user-short-description-text {
    text-align: left;
}

.user-short-description.landscape.tiny {
    height: 56px;
    padding-top: 12px;
}

.user-short-description.landscape.tiny .user-short-description-avatar {
    left: -25px;
}

.user-short-description .user-short-description-avatar {
    position: absolute;
    top: -54px;
    left: 50%;
    margin-left: -60px;
}

.user-short-description .user-short-description-title,
.user-short-description .user-short-description-text {
    font-weight: 700;
    text-align: center;
}

.user-short-description .user-short-description-title {
    font-size: 1.125rem;
}

.user-short-description .user-short-description-title a {
    color: #3e3f5e;
    font-weight: 700;
}

.user-short-description .user-short-description-title.small {
    font-size: 0.875rem;
}

.user-short-description .user-short-description-text {
    margin-top: 10px;
    color: #adafca;
    font-size: 0.6875rem;
    font-weight: 700;
    text-transform: uppercase;
}

.user-short-description .user-short-description-text a {
    color: #adafca;
    font-weight: 700;
}

.user-short-description .user-short-description-text a:hover {
    color: #00c7d9;
}

.user-short-description .user-short-description-text.regular {
    font-size: 0.75rem;
    font-weight: 500;
    text-transform: none;
}

/*-----------------------------
    19. SLIDER CONTROL
-----------------------------*/
.slider-control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.slider-control.negative .slider-control-icon {
    fill: #fff;
}

.slider-control.negative.disabled, .slider-control.negative[aria-disabled=true] {
    opacity: .4;
}

.slider-control.negative.disabled:hover .slider-control-icon, .slider-control.negative[aria-disabled=true]:hover .slider-control-icon {
    fill: #fff;
    opacity: .4;
}

.slider-control.negative:hover .slider-control-icon {
    fill: #fff;
    opacity: 1;
}

.slider-control.disabled, .slider-control[aria-disabled=true] {
    opacity: .5;
}

.slider-control.disabled:hover .slider-control-icon, .slider-control[aria-disabled=true]:hover .slider-control-icon {
    fill: #adafca;
    opacity: .5;
}

.slider-control .slider-control-icon {
    fill: #adafca;
    pointer-events: none;
    opacity: .6;
    transition: fill .2s ease-in-out, opacity .2s ease-in-out;
}

.slider-control.left .slider-control-icon {
    transform: rotate(180deg);
}

.slider-control:hover .slider-control-icon {
    fill: #3e3f5e;
    opacity: 1;
}

/*-----------------------------
    11. USER STATS
-----------------------------*/
.user-stats {
    display: flex;
    justify-content: center;
}

.user-stats .user-stat {
    position: relative;
}

.user-stats .user-stat.big::after {
    top: 8px;
}

.user-stats .user-stat::after {
    content: '';
    width: 1px;
    height: 20px;
    background-color: #eaeaf5;
    position: absolute;
    top: 6px;
    right: 0;
}

.user-stats .user-stat:last-child::after {
    display: none;
}

/*-----------------------------
    12. USER STAT
-----------------------------*/
.user-stat {
    padding: 0 24px;
}

.user-stat.big {
    padding: 0 30px;
}

.user-stat.big .reference-bullet {
    margin: 0 auto 20px;
}

.user-stat.big .user-stat-title {
    font-size: 1.375rem;
}

.user-stat.big .user-stat-text {
    font-size: 0.75rem;
}

.user-stat .user-stat-title,
.user-stat .user-stat-text {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.user-stat .user-stat-title {
    font-size: 0.875rem;
}

.user-stat .user-stat-title .user-stat-title-icon.positive {
    fill: #23d2e2;
}

.user-stat .user-stat-title .user-stat-title-icon.negative {
    fill: #f9515c;
}

.user-stat .user-stat-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-stat .user-stat-icon + .user-stat-text {
    margin-top: 12px;
}

.user-stat .user-stat-image {
    display: block;
    width: 24px;
    height: 16px;
}

.user-stat .user-stat-image + .user-stat-text {
    margin-top: 15px;
}

.user-stat .user-stat-text {
    margin-top: 10px;
    color: #adafca;
    font-size: 0.6875rem;
}

.user-stat .rating-list {
    margin-top: 10px;
}

/*-----------------------------
    13. BADGE LIST
-----------------------------*/
.badge-list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 32px);
    grid-gap: 14px;
}

.badge-list.align-left {
    justify-content: flex-start;
}

.badge-list.small {
    grid-gap: 8px;
}

/*-----------------------------
    14. BADGE ITEM
-----------------------------*/
.badge-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 35px;
    position: relative;
}

.badge-item img {
    position: absolute;
    top: 0;
    left: 0;
}

.badge-item .badge-item-text {
    color: #fff;
    font-size: 0.6875rem;
    font-weight: 700;
    position: relative;
    top: 1px;
    z-index: 2;
}

/*--------------------
    1. WIDGET BOX
--------------------*/
.widget-box {
    padding: 32px 28px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
    position: relative;
}

.widget-box.no-padding {
    padding: 0;
}

.widget-box.no-padding .widget-box-title {
    padding: 32px 28px 0;
}

.widget-box .widget-box-settings {
    position: absolute;
    top: 22px;
    right: 19px;
    z-index: 9999;
}

.widget-box .widget-box-controls {
    position: absolute;
    top: 28px;
    right: 22px;
    z-index: 9999;
}

.widget-box .widget-box-controls .slider-controls {
    display: flex;
}

.widget-box .widget-box-controls .slider-controls .slider-control:first-child {
    margin-right: 2px;
}

.widget-box .widget-box-actions {
    display: flex;
    justify-content: space-between;
}

.widget-box .widget-box-actions .widget-box-action {
    display: flex;
}

.widget-box .widget-box-actions .widget-box-action .reference-item-list {
    position: relative;
    top: -3px;
}

.widget-box .widget-box-actions .widget-box-action .form-select.v2 {
    top: -6px;
}

.widget-box .widget-box-footer .reference-item-list {
    margin-top: 12px;
}

.widget-box .widget-box-footer .chart-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    padding-left: 36px;
}

.widget-box .widget-box-content-slider .reaction-stats + .reaction-stats {
    margin-top: 40px;
}

.widget-box .widget-box-content-slider .badge-item-stat .text-sticker {
    top: 32px;
    right: 18px;
}

.widget-box .widget-box-title {
    font-size: 1rem;
    font-weight: 700;
}

.widget-box .widget-box-title .highlighted {
    color: #00c7d9;
}

.widget-box .widget-box-text {
    font-size: 0.875rem;
    line-height: 1.7142857143em;
    font-weight: 500;
}

.widget-box .widget-box-text.light {
    color: #8f91ac;
}

.widget-box .widget-box-content {
    margin-top: 36px;
}

.widget-box .widget-box-content:first-child {
    margin-top: 0;
}

.widget-box .widget-box-content.small-margin-top {
    margin-top: 28px;
}

.widget-box .widget-box-content.no-margin-top {
    margin-top: 0;
}

.widget-box .widget-box-content.padded-for-scroll {
    height: 358px;
    padding-bottom: 28px;
}

.widget-box .widget-box-content.padded-for-scroll.small {
    height: 320px;
}

.widget-box .widget-box-content.padded-for-scroll.medium {
    height: 676px;
}

.widget-box .widget-box-content.padded-for-scroll .scroll-content {
    padding: 0 28px;
}

.widget-box .widget-box-content.padded-for-scroll .exp-line-list {
    padding-top: 8px;
}

.widget-box .widget-box-content .paragraph + .information-line-list {
    margin-top: 24px;
}

.widget-box .widget-box-content .filters + .user-status-list,
.widget-box .widget-box-content .filters + .post-preview-line-list {
    margin-top: 24px;
}

.widget-box .widget-box-content .week-box:last-child {
    margin: 22px 0 -60px;
}

.widget-box .widget-box-content .calendar {
    margin: 0 auto;
}

.widget-box .widget-box-content .calendar-events-preview {
    margin-top: 24px;
}

.widget-box .widget-box-content .ordered-item-list {
    margin-top: 18px;
}

.widget-box .widget-box-content .progress-arc-wrap {
    margin: 0 auto;
}

.widget-box .widget-box-content .draggable-items + .widget-box-text {
    margin-top: 32px;
}

.widget-box .widget-box-content .user-stats {
    margin-top: 36px;
}

.widget-box .widget-box-content .user-stats.reference .user-stat {
    width: 100%;
}

.widget-box .widget-box-content .user-stats.reference .user-stat::after {
    height: 40px;
    top: 20px;
}

.widget-box .widget-box-content .user-stats + .user-stats {
    margin-top: 32px;
}

.widget-box .achievement-status-list {
    margin-top: 50px;
}

.widget-box .widget-box-status {
    padding-top: 24px;
    position: relative;
}

.widget-box .widget-box-status .widget-box-status-content {
    padding: 0 28px;
}

.widget-box .widget-box-status .widget-box-status-content .user-status {
    font-family: "Rajdhani", sans-serif;
    padding-right: 70px;
}

.widget-box .widget-box-status .widget-box-status-content .user-status .user-status-title .user-avatar {
    display: inline;
    margin-right: 24px;
}

.widget-box .widget-box-status .user-status + .widget-box-status-text {
    margin-top: 20px;
}

.widget-box .widget-box-status .widget-box-status-text {
    font-size: 0.875rem;
    line-height: 1.7142857143em;
    font-weight: 500;
}

.widget-box .widget-box-status .widget-box-status-text + .widget-box-status-text {
    margin-top: 26px;
}

.widget-box .widget-box-status .widget-box-status-text + .tag-list {
    margin-top: 8px;
}

.widget-box .widget-box-status .widget-box-picture {
    width: 100%;
    height: auto;
    margin-top: 20px;
    cursor: pointer;
}

.widget-box .widget-box-status .tag-sticker,
.widget-box .widget-box-status .text-sticker {
    position: absolute;
    top: -8px;
    right: 68px;
}

.widget-box .widget-box-status .post-preview,
.widget-box .widget-box-status .quote-box {
    margin-top: 28px;
}

.widget-box .widget-box-status .video-status,
.widget-box .widget-box-status .iframe-wrap,
.widget-box .widget-box-status .poll-box,
.widget-box .widget-box-status .picture-collage,
.widget-box .widget-box-status .widget-box {
    margin-top: 24px;
}

.widget-box .widget-box-status .widget-box {
    padding-bottom: 32px;
}

.widget-box .widget-box-status .tag-list {
    margin-top: 28px;
}

.widget-box .widget-box-status .tag-list:first-child {
    margin-top: 18px;
}

.widget-box .widget-box-status .content-actions {
    margin-top: 28px;
    border-top: 1px solid #eaeaf5;
}

.widget-box .widget-box-button {
    width: 100%;
    margin-top: 32px;
}

/*--------------------
    MEDIA QUERIES
--------------------*/
@media screen and (max-width: 1365px) {
    .widget-box .widget-box-footer .chart-info {
        display: none;
    }
}

@media screen and (max-width: 680px) {
    .widget-box .widget-box-status > .text-sticker .text-sticker-icon {
        margin-right: 0;
    }
    .widget-box .widget-box-status > .text-sticker .text-sticker-content {
        display: none;
    }
    .widget-box .widget-box-actions .widget-box-action:last-child .reference-item-list {
        position: absolute;
        top: 60px;
        left: 28px;
    }
}

/*------------------------------------------------------------------
[Table of contents]

1. .form-box
-------------------------------------------------------------------*/
/*------------------
    1. FORM BOX
------------------*/
.form-box {
    width: 484px;
    padding: 64px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 0 60px 0 rgba(94, 92, 154, 0.12);
    position: relative;
}

.form-box .form-box-decoration {
    position: absolute;
    top: -14px;
    left: -80px;
}

.form-box .form-box-decoration.overflowing {
    top: -68px;
}

.form-box .form-box-title {
    font-size: 1.625rem;
    text-align: center;
}

.form-box .form {
    margin-top: 76px;
}

.form-box .lined-text {
    margin-top: 40px;
}

.form-box .social-links,
.form-box .form-text {
    margin-top: 30px;
}

/*--------------------
    MEDIA QUERIES
--------------------*/
@media screen and (max-width: 500px) {
    .form-box {
        padding: 40px 32px;
    }
}

/*--------------
    2. FORM
--------------*/
.form {
    width: 100%;
}

.form + .button {
    margin-top: 40px;
}

/*------------------
    3. FORM ROW
------------------*/
.form-row {
    width: 100%;
}

.form-row + .form-row {
    margin-top: 28px;
}

.form-row.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-row.space-between .form-item {
    width: auto;
}

.form-row.split {
    display: flex;
    flex-wrap: nowrap;
}

.form-row.split .form-item {
    margin-right: 16px;
}

.form-row.split .form-item:last-child {
    margin-right: 0;
}

.form-row.split .form-item > * {
    margin-bottom: 28px;
}

.form-row.split .form-item > *:last-child {
    margin-bottom: 0;
}

/*------------------
    4. FORM ITEM
------------------*/
.form-item {
    width: 100%;
}

.form-item.auto-width {
    width: auto;
}

.form-item.centered {
    display: flex;
    align-items: center;
}

.form-item.split {
    display: flex;
}

.form-item.split.medium > * {
    margin-right: 16px;
}

.form-item.split.medium > *:last-child {
    margin-right: 0;
}

.form-item.split > * {
    width: 100%;
    margin-right: 12px;
}

.form-item.split > *:last-child {
    margin-right: 0;
}

/*------------------------------
    5. FORM INPUT DECORATED
------------------------------*/
.form-input-decorated {
    position: relative;
}

.form-input-decorated input[type="text"] {
    padding-right: 60px;
}

.form-input-decorated .form-input-icon {
    fill: #adafca;
    opacity: .6;
    pointer-events: none;
    position: absolute;
    top: 14px;
    right: 20px;
}

/*-------------------
    6. FORM INPUT
-------------------*/
.form-input {
    position: relative;
}

.form-input.dark input[type="text"],
.form-input.dark input[type="password"],
.form-input.dark textarea {
    border: none;
    background-color: #4e4ac8;
    color: #fff;
}

.form-input.dark input[type="text"]::placeholder,
.form-input.dark input[type="password"]::placeholder,
.form-input.dark textarea::placeholder {
    color: #8b88ff;
    opacity: .6;
}

.form-input.social-input .social-link {
    position: absolute;
    top: 4px;
    left: 4px;
    pointer-events: none;
}

.form-input.social-input input {
    padding-left: 64px;
}

.form-input.social-input label {
    left: 64px;
}

.form-input.social-input.active label {
    left: 58px;
}

.form-input.currency-decorated::before {
    content: '$';
    color: #00c7d9;
    font-size: 0.875rem;
    font-weight: 700;
    position: absolute;
    top: 12px;
    left: 22px;
    pointer-events: none;
}

.form-input.currency-decorated input {
    padding-left: 32px;
}

.form-input.small label,
.form-input.small input,
.form-input.small textarea {
    font-size: 0.875rem;
}

.form-input.small label {
    top: 16px;
}

.form-input.small input {
    height: 48px;
}

.form-input.small textarea {
    height: 100px;
}

.form-input.small button {
    width: 64px;
    position: absolute;
    top: 0;
    right: 0;
}

.form-input.full {
    height: 100%;
}

.form-input.full textarea {
    height: 100%;
}

.form-input.mid-textarea textarea {
    height: 124px;
}

.form-input.medium-textarea textarea {
    height: 160px;
}

.form-input.active label {
    background-color: #fff;
    padding: 0 6px;
    font-size: 0.75rem;
    top: -6px;
    left: 12px;
}

.form-input label {
    color: #adafca;
    font-size: 1rem;
    font-weight: 600;
    position: absolute;
    top: 20px;
    left: 20px;
    transition: all .3s ease-in-out;
    pointer-events: none;
}

/*-------------------
    7. FORM TITLE
-------------------*/
.form-title {
    font-size: 0.875rem;
    font-weight: 700;
}

/*----------------------
    8. FORM TEXTAREA
----------------------*/
.form-textarea {
    position: relative;
}

.form-textarea textarea {
    font-size: 0.875rem;
    padding: 26px 28px 0;
}

.form-textarea .form-textarea-limit-text {
    padding: 0 28px;
    font-size: 0.75rem;
    font-weight: 500;
    opacity: .6;
    text-align: right;
}

/*----------------------
    9. FORM SELECT
----------------------*/
.form-select {
    width: 100%;
    height: 48px;
    position: relative;
}

.form-select.v2 {
    width: auto;
    height: auto;
}

.form-select.v2 select {
    width: auto;
    height: auto;
    padding-right: 20px;
    border: none;
    font-size: 0.75rem;
}

.form-select.v2 .form-select-icon {
    top: 10px;
    right: 0;
}

.form-select select {
    width: 100%;
    height: 100%;
    padding-left: 20px;
    font-size: 0.875rem;
    cursor: pointer;
}

.form-select .form-select-icon {
    fill: #3e3f5e;
    transform: rotate(90deg);
    position: absolute;
    top: 20px;
    right: 20px;
    pointer-events: none;
}

.form-select label {
    padding: 0 6px;
    background-color: #fff;
    color: #adafca;
    font-size: 0.75rem;
    font-weight: 600;
    position: absolute;
    top: -8px;
    left: 12px;
    pointer-events: none;
}

/*------------------------
    10. CHECKBOX LINE
------------------------*/
.checkbox-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-line .checkbox-line-text {
    color: #00c7d9;
    font-size: 0.875rem;
    font-weight: 500;
}


*--------------------
MEDIA QUERIES
--------------------*
@media screen and (max-width: 480px) {
    .hide-text-mobile {
        display: none;
    }
}


/*-----------------
    1. GENERAL
-----------------*/
label,
input[type="text"],
input[type="password"],
textarea,
select,
button {
    font-family: "Rajdhani", sans-serif;
}

label {
    display: block;
    margin: 0;
    color: #3e3f5e;
    line-height: 1em;
}

input[type="text"],
input[type="password"],
textarea,
select,
button {
    width: 100%;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 700;
}

input[type="text"],
input[type="password"],
textarea,
select {
    background-color: #fff;
    border: 1px solid #dedeea;
    color: #3e3f5e;
    transition: border-color .2s ease-in-out;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    border-color: #615dfa;
}

input[type="text"],
input[type="password"] {
    height: 54px;
    padding: 0 18px;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #adafca;
    font-size: 0.875rem;
    font-weight: 500;
}

textarea {
    padding: 14px 18px;
    resize: none;
}

textarea::placeholder {
    color: #adafca;
    font-weight: 600;
}

input[type=password], input[type=text] {
    height: 54px;
    padding: 0 18px;
}


input[type=password], input[type=text], select, textarea {
    background-color: #fff;
    border: 1px solid #dedeea;
    color: #3e3f5e;
    transition: border-color .2s ease-in-out;
}

input[type=password], input[type=text] {
    height: 54px !important;
    padding: 0 18px !important;
}

.form-row.split .form-item {
    margin-right: 16px;
}

@media screen and (max-width: 960px) {
    .form-row.split .form-item {
        margin-bottom: 28px;
    }
}

*, :after, :before {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.section-banner {
    min-height: 160px;
    padding: 52px 60px 0 200px ;
    border-radius: 12px;
    background: #4bc1fd no-repeat 50%;
    position: relative;
}

.section-banner .section-banner-icon {
    position: absolute;
    bottom: 0;
    left: 0;
}

.section-banner .section-banner-title {
    font-size: 2.25rem;
    font-weight: 700;
}

.section-banner .section-banner-text {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 500;
}

.section-banner .section-banner-text, .section-banner .section-banner-title {
    color: #fff;
}

@media screen and (max-width: 960px) {
    .section-banner .section-banner-text {
        margin-top: 6px;
        font-size: .75rem;
    }
}

@media screen and (max-width: 960px){
    .section-banner .section-banner-title {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 960px){
    .section-banner .section-banner-icon {
        width: 92px;
        height: 86px;
    }
}

@media screen and (max-width: 960px) {
    .section-banner {
        height: 86px;
        min-height: auto;
        padding: 18px 28px 0 108px;
    }
}

@media screen and (max-width: 1366px) {
    .content-grid {
        max-width: 100%;
        padding: 112px 112px 200px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1500px){
    .content-grid {
        max-width: 1142px;
    }
}
.content-grid {
    max-width: 1184px;
    padding: 112px 0 100px;
}

.user-preview {
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 0 40px 0 rgb(94 92 154 / 6%);
}

user-preview .user-preview-cover {
    height: 96px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.user-preview .user-preview-info {
    padding: 0 28px 32px;
    position: relative;
}

.user-short-description {
    padding-top: 84px;
    position: relative;
}

.user-avatar.medium {
    width: 120px;
    height: 132px;
}

.user-short-description .user-short-description-avatar {
    position: absolute;
    top: -54px;
    left: 50%;
    margin-left: -60px;
}

.user-preview .user-preview-info .user-short-description .user-short-description-title {
    font-size: 1.25rem;
}

.user-short-description .user-short-description-text, .user-short-description .user-short-description-title {
    font-weight: 700;
    text-align: center;
}

.grid.grid-3-3-3, .grid.grid-3-3-3-3 {
    grid-template-columns: repeat(auto-fit,284px);
}

.grid.centered {
    -ms-flex-pack: center;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 16px;
    -ms-flex-align: start;
    align-items: start;
}
